body {
  background-color: #f9f9f9;
  font-family: Arial, sans-serif;
  margin: 20px;
  color: #333;
}

h1 {
  text-align: center;
  color: darkblue;
}

h2 {
  color: #444;
  margin-top: 20px;
}

p {
  font-size: 16px;
  line-height: 1.5;
}

ul {
  list-style-type: square;
  margin-left: 40px;
}

img {
  display: block;
  margin: 20px auto;
  border: 3px solid #333;
  border-radius: 8px;
}
